header {
    z-index: 99;
  
}

h1,
h2
 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}
h2{}
.burgerIco {
   border: 1px solid rgba(255, 255, 255, 0.7);
   border-radius: 10px;
   padding: 5px 15px;
   display: none;
  
}
.burgerIco svg{
    width: 30px;
    
}
.nav-item {
    font-size: 15px;
    font-weight: 600;
}
.nav-brand {
    font-size: 20px;
}

.hero {
    background-image: url(../assets/img/bg-masthead.jpg);
    background-size: cover;
}

.hero::after {
    content: "";
    position: absolute;
    background-color: #66524dad;
    inset: 0;
}

.hero-content {
    z-index: 5;
}

hr{
  
    width: 50px;
    height: 2px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
 p{
    margin-bottom: 50px;
    width: 100%;
    
}

/* media query */
@media screen and (min-width:0) and (max-width:966px) {
.burgerIco {
    display: flex;
}
nav{
    display: none;
}
.hero-content , .Services-Content{
width: 100%;
}  
h1,
h2 {  
    font-size: 30px;
} 
body{
     font-size: 14px;
}
}

.Service p{
color:gray;
}
.Service svg{
    width: 50px;
}

/* protfoliio */
.project{
    position: relative;
}
.project img{
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
    /* مهم حتى لا تتشوه الصور */
}
.project .progect-content{
    position: absolute;
    inset: 0;
    background-color: #f4623ae1;
    opacity: 0;
    transition: all .2s;
    
}
.project .progect-content:hover{
    opacity: 1;
}
@media screen and (min-width:594px) and (max-width:993px) {
    .grid-3-col{
        grid-template-columns: repeat(2,1fr);
    }
}